/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/* Override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #9F9D9D;
    font-family: 'Andika', sans-serif;
    font-style: italic;
    font-weight: 400;
}

h1,h2,h3 {
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: #1d1d1d;
}

/* header */
header {
    background-color: #ebedee;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 3px 5px #555050;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit; /* removes default link color thingy */
}

#nav-menu-items { 
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #363636;
}

#nav-menu-items > li {
    margin-bottom: 1em;
}

/* end of header items */

.active {
    border-bottom: 1px solid #007bff;
}

/* Navbar styles & Dropdown */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* main page content */
main {
    flex: 1 0 auto;
    margin-top: 48px;
}

/* Hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/veyron.webp') no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(39, 26, 88, 0.6);
    position: absolute;
    font-size: 140%;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-shopping > div,
#benefits-shopping-2 > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    height: 90vw;
    width: 90vw;
    background: url('../images/lamborghini-murcielago.jpg') no-repeat 85% center/cover;
    /* Make square to circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */
footer {
    background-color: #ebedee;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 3px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
    
}

#social-networks i:hover {
    color: #007bff;
}

/* Tablets and larger (> 768px) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #ebedee;
    }
    
    #nav-menu-items {
        display: flex;
    }

    #nav-menu-items > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    /* Hero section */
    #cover-text {
        width: 612px;/*The aim is to match the same width before it changes might look good ? :D*/
    }
}

/* for laptops & desktop > 992px and up */
@media screen and (min-width: 992px) {

    #nav-menu-items a:hover{
        border-bottom: 1px solid #007bff;
    }
}